include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include sqisp/types

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include sqisp *.hy
recursive-include sqisp *.sqpm
recursive-include sqisp *.sqp


recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
